._container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: url(../img/header/background/Group-15.png) center/cover no-repeat;
    &__indent {
        padding: 26px 0 66px 0;
    }
    &__column {
        display: flex;
        justify-content: space-between;
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__quantity {
        margin-top: 36px;
        &_text {
            font-family: "Montserrat-Bold";
            font-size: 38px;
            line-height: 46px;
            color: #FFFFFF;
        }
    }
}

.menu-header {
    &__logo {
        width: 78px;
        height: 78px;
        margin-right: 120px;

        background: url(../img/header/menu/barcelona-metro-logo.png) center/cover no-repeat;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (min-width:921px) {
            & li:first-child &_items {
                margin-right: 77px;
            }
        }
        &_items {
            margin-right: 56px;

            user-select: none;
            font-family: "Montserrat-ExtraLight";
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}

.menu-header__list_items, .contacts-header__phone {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: border .12s ease-in-out;

    @media (min-width: 995px) {
        &:hover {
            border-bottom: 1px solid rgb(255, 255, 255);
        }
    }
}

.contacts-header {
    &__bell {
        padding-top: 26px;
    }
    &__phone {
        user-select: none;
        font-family: "Montserrat-Bold";
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    &__text {
        margin-top: 3px;
        font-family: "Montserrat-Light";
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #FFFFFF;
    }
}
.nav-wrap {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.384);
    &__content {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 60;
        width: 300px;
        height: 100%;
        margin-left: auto;
        padding: 15px;
        background: rgb(243, 243, 243);
    }
}

.burger {
    display: none;
    height: max-content;

    margin-top: 20px;
    cursor: pointer;
    &__item {
        width: 28px;
        height: 3px;
        margin-bottom: 5px;
        background: white;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 920px) {
    .menu-header {
        &__logo {
            margin-right: 55px;
        }
        &__list {
            li:first-child &_items {
                margin-right: 50px;
            }
            &_items {
                margin-right: 45px;
            }
        }
    }
}
@media (max-width: 800px) {
    .burger {
        display: block;
    }
    .header {
        &__indent {
            padding: 16px 0 36px 0;
        }
        &__quantity {
            margin-top: 20px;
        }
    }
    .catalog__sorting {
        &_title, &_price  {
            margin-right: 25px;
        }
    }
    .contacts-header {
        margin-bottom: 20px;
        &__phone, &__text {
            text-align: left;
            color: black;
        }
    }
    .menu-header__list {
        display: block;
        &_items {
            display: block;
            margin-bottom: 15px;
            font-family: "Montserrat-Regular";
            color: black;
        }
    }
}