@font-face {
    font-family: "Montserrat-Medium";
    font-display: swap;
    src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Montserrat-Black";
    font-display: swap;
    src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Montserrat-Regular";
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Montserrat-Light";
    font-display: swap;
    src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Montserrat-Bold";
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    font-display: swap;
    src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}